@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* Reset muy suave */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;

}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background: radial-gradient(circle at top, #1b2735, #090a0f 55%);
  color: #f5f5f5;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Contenedor bastante grande */
.contenedor {
  width: 100%;
  height: 100vh;
  padding: 2rem;
  background: rgba(255, 251, 251, 0.973);
  backdrop-filter: blur(10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.encabezado {
  text-align: center;
  margin-bottom: 2rem;
  color: rgb(70, 69, 69);
  padding-bottom: 1em;
  border-bottom: 1px solid gray;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.encabezado h1 {
  font-size: clamp(2rem, 3vw, 2.8rem);
  margin-bottom: 0.5rem;
}

.encabezado p {
  font-size: 0.95rem;
  opacity: 0.85;
}

.principal {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70vh;
}

/* Marco del canvas */
.canvas {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

/* p5 ajusta el canvas, pero esto ayuda a que se vea bien centrado */
canvas {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}