@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --fondo: #f3f4f6;
    --texto: #111827;
}

* {
    box-sizing: border-box;
      font-family: "Montserrat", sans-serif;

}

body {
    margin: 0;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
    background: var(--fondo);
    color: var(--texto);
}

.tarjeta {
  
    width: 100vw;
    
    background: white;
    height: 100vh;
}

#barra-controles {
    display: flex;
    gap: .5rem;
    margin: 1em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

button {
    padding: .6rem .9rem;
    border-radius: 10px;
    border: 1px solid #e5e7eb;
    background: #f9fafb;
    cursor: pointer;
}
button:hover{
    background: aqua;
}

#contenedor-p5 {
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 4em;
    margin: auto;
}

