@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Montserrat", sans-serif;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
    padding: 1em;
    margin: 1em;
}

h1 {
    background: linear-gradient(90deg,
            #ff004c, #ff7a00, #ffd400, #00d06f, #00a2ff, #8a2be2);
    -webkit-background-clip: text;
    /* Safari/Chrome */
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.instrucciones {
    padding: 1em;
    margin: 1em;
}

p {
    margin: 1em;
}

span {
    font-weight: bold;
    color: crimson;
    font-size: 1.2em;
}

i {
    margin-right: 1em;
    cursor: pointer;
    display: inline-block;
    transition: transform .2s;
}

i:hover {
    animation: shake .4s linear infinite;

}

#contenedor {
    border-radius: 1em;

}

@keyframes shake {
    0% {
        transform: translate(0);
    }

    25% {
        transform: translate(-3px, 0) rotate(-5deg);
    }

    50% {
        transform: translate(3px, 0) rotate(5deg);
    }

    75% {
        transform: translate(-3px, 0) rotate(-5deg);
    }

    100% {
        transform: translate(0);
    }
}